In [9]:
def square(n):
    return n ** 2

In [4]:
myList =list(range(2,20))

In [5]:
myList

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
for i in myList:
    print(square(i))

4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [16]:
#Using map function
list(map(square,myList))

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [20]:
# with true lambada function
list(map(lambda num: num ** 2,myList))

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [23]:
list(filter(lambda num: num % 2 == 0,myList))

[2, 4, 6, 8, 10, 12, 14, 16, 18]