In [1]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import matplotlib as plt
import seaborn as sns
import sklearn

In [4]:
data = pd.read_csv('/Volumes/DataHD/GIT_REPO/Python_repo/PyData/RegressionAnalysis/1.01. Simple linear regression.csv')

In [6]:
data.sample()

     SAT   GPA
74  2021  3.61

In [7]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000